@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  --color-titulo: #1A1A1A;
  --color-textos: #666666;
  --color-botao: #D72D2D;
  --color-branco: #FFFFFF;
  --color-text-secondary: #EF7443;
  --color-text-primary: #D72D2D;
  --color-fundo-card: #EFEFEB;
  --color-fundo-descricao: #FBFBF9;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background-color: #FBFBF9;
}

html {
  scroll-behavior: smooth;
}